<%if signed_in? %>
<div class='group'>
  <div class='header'>
    <h4>CATEGORIES</h4>
    <%= button_to 'Sign out', destroy_user_session_path, class: 'sign-out', method: :delete %>
  </div>
  <div class='card'>
    <% @groups.each do |group| %>
    <a href="<%= group_deals_url(group) %>">
      <div class='card-body'>
        <% height = group.icon == "https://i.postimg.cc/pdDBsq3v/Vector-Joystick-PNG-Picture.png" ? 'height: 35px' : 'height: 50px'%>
        <img src=<%= group.icon%> alt='categories' style="<%= height%>">
        <h4><%= group.name%><h4>
        <%@deals = []%>
        <%group.group_deals.each do |group_deal|%>
          <%@deals << group_deal.deal%>
        <%end%>
        <h5>Total transaction: <%= render partial: "deals/total", locals: { deals: @deals } %></h5>
      </div>
    </a>  
    <% end %>
  </div> 
  <% unless @groups.empty? %>
   <%= button_to 'Delete All Groups', group_path(@groups.first.id), method: :delete, data: { confirm: 'Are you sure you want to delete all groups?' } %>
  <%end%>
  <button class='add-group'><%= link_to 'NEW CATEGORY', new_group_path%></button>

</div>
<%else%>
  <div class='intro'>
    <h1>Easydeals</h1>
    <div>
      <button class='login'><%= link_to 'LOG IN', new_user_session_path %></button>
      <button><%= link_to 'SIGN UP', new_user_registration_path %></button>
    <div>
  </div>
<%end%>