<h1>Categories</h1>
<ul>
<% @groups.each do |group| %>
  <li>
  <h3><%= group.name%><h3>
  <img src=<%=group.icon%> alt=''>
  <%group.group_deals.each do |group_deal|%>
  <%@deals << group_deal.deal%>
  <%end%>
  <h4><%= render partial: "deals/total", locals: { deals: @deals || [] } %></h4>
  </li>
<% end %>
</ul>
<button><%= link_to 'Add new group', new_group_path%></button>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>