<div class='new'>
<%= render partial: "devise/shared/header", locals: { back: groups_path, label: 'NEW CATEGORY', form: nil } %>
<%= form_with(model: [@group], url: groups_path, local: true) do |form| %>
  <div class='fields'>
    <div class="field">
      <%= form.text_field :name, placeholder: 'Category', required: true, autocomplete: 'off' %>
    </div>
    <div class="icon-field">
    <% images = [
      "https://i.postimg.cc/pdDBsq3v/Vector-Joystick-PNG-Picture.png",
      "https://i.postimg.cc/QNP8gWk3/hotpopcornmovie.png",
      "https://i.postimg.cc/PxcVChGm/35992.jpg.jpg",
      "https://i.postimg.cc/dtW5xKW8/music-icon-187892.png"
    ] %>
      <p>Select your icon</p>
      <% images.each do |url| %>
      <% padding = url == "https://i.postimg.cc/pdDBsq3v/Vector-Joystick-PNG-Picture.png" ? '20px 10px 5px' : '0 10px'%>
      <% height = url == "https://i.postimg.cc/pdDBsq3v/Vector-Joystick-PNG-Picture.png" ? 'height: 35px;' : 'height: 50px;'%>
      <div class="form-check" style="<%=padding%>">
        <%= form.radio_button :icon, url, required: true %>
        <label style='margin-left: 20px;'>
        <img src="<%= url %>" alt="transaction" style="<%= height%>">
        </label>
      </div> 
      <% end %>
    </div>
  </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="actions">
      <%= form.submit 'CREATE CATEGORY'%>
    </div>
<% end %>
</div>
