<h1><%= render partial: "total", locals: { deals: @deals } %></h1>
<ul>
<% @deals.each do |deal| %>
  <li>
  <h3><%= deal.name%>
  <h4>Transaction amount: $<%= deal.amount%></h4>
  </li>
<% end %>
</ul>
<button><%= link_to 'Add new group', new_group_deal_path%></button>
<button><%= link_to 'Go Back', groups_path%></button>
