<div class='new'>
<%= render partial: "devise/shared/header", locals: { back: group_deals_path, label: 'NEW TRANSACTION', form: nil} %>
<%= form_with(model: @deal, url: group_deals_path, local: true) do |form| %>
  <div class='fields'>
    <div class="field">
      <%= form.text_field :name, placeholder: 'Item', required: true, autocomplete: 'off' %>
    </div>
    <div class="field">
      <%= form.number_field :amount, step: 0.01 , placeholder: 'Amount (number only)', required: true, autocomplete: 'off' %>
    </div>
  </div>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <div class="actions">
    <%= form.submit 'PROCESS TRANSACTION'%>
  </div>
<% end %>
</div>
