<%= form_with(model: [@category], url: categories_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, required: true %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Go Back', categories_path%>